.header {
    background-color: white;
    height: 74px;
    border-bottom: 1px solid grey;
    margin: 0;
    position: relative;
}

.name {
    position: absolute;
    right: 50%;
    margin-right: 325px;
    height: 74px;
}

.about {
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: auto;
    background: whitesmoke;
    width: 960px;
    height: 400px;
    margin-top: 95px;
}

body {
    background-color: #dddddd;
    margin: 0px;
}

h1 {
    font-family: 'Georgia';
    font-size: 25px;
    text-align: center;
    margin: 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: #cccccc;
    padding: 20px;
    }

h2 {
    font-size: 25px;
    color: #4aaaa5;
    text-align: left;
    margin-bottom: 15px;
    text-decoration: bold;

}